<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Ali Ahmad{% endblock %}</title>

    <!-- Standard favicon -->
    <link rel="icon" type="image/x-icon" href="/assets/favicon/favicon.ico">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png">

    <!-- Apple Touch Icons -->
    <link rel="apple-touch-icon" href="/assets/favicon/apple-touch-icon.png">

    <!-- Android Chrome Icons -->
    <link rel="icon" type="image/png" sizes="192x192" href="/assets/favicon/android-chrome-192x192.png">
    <link rel="icon" type="image/png" sizes="512x512" href="/assets/favicon/android-chrome-512x512.png">

    <!-- Web App Manifest -->
    <link rel="manifest" href="/site.webmanifest">

    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-serif/1.0.0/fonts.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=Crimson+Text:ital,wght@0,400;0,700;1,400&display=swap">
</head>
<body>
    <div class="container">
        <header>
            <h1><a href="/" class="site-title">Ali Ahmad</a></h1>
        </header>

        {% block content %}{% endblock %}

        <footer class="monospace">
            <div class="footer-left">
                <span class="serif">Ali Ahmad</span>
            </div>
            <div class="footer-right monospace">
                <a href="/education">Contact</a>
                <a target="_blank" href="/resume/Ahmad_Ali_010425.pdf">Resume</a>
            </div>
        </footer>
    </div>
</body>
</html>