{% extends "base.html"%}

{% block content %}
<main class="content monospace">
    <section>
        <p>
            I love to chat! Feel free to reach out to me via email or social media. I am always open 
            to new opportunities and collaborations.
        </p>

        <ul class="dash-list">
            <li>&#8212; <a href="mailto:aliahmad@stanford.edu">Email: aliahmad@stanford.edu</a></li>
            <li>&#8212; <a href="https://www.twitter.com/aliuahma">Twitter: @aliuahma</a></li>
            <li>&#8212; <a href="https://www.linkedin.com/in/aliuahma/">LinkedIn: aliuahma</a></li>
            <li>&#8212; <a href="https://www.github.com/aliuahma">GitHub: aliuahma</a></li>
            <li>&#8212; Discord: @aliua</li>
        </ul>

        {# <form 
            class="contact-form"
            action="mailto:aliahmad@stanford.edu"
            method="post"
            enctype="text/plain"
        >
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" required>
            </div>

            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
            </div>

            <div class="form-group">
                <label for="message">Message:</label>
                <textarea id="message" name="message" rows="5" required></textarea>
            </div>

            <button type="submit" class="submit-btn">Send Message</button>
        </form> #}
    </section>
</main>
{% endblock %}