{% extends "base.html"%}

{% block content %}
<main class="content monospace">
    <p class="intro">
        I am a 2nd year BS <a href="https://mathematics.stanford.edu">Mathematics</a> and prospective MS 
        <a href="https://cs.stanford.edu">CS</a> student at 
        <a href="https://stanford.edu">Stanford University</a>. I conduct robotics research under Professor 
        <a href="https://profiles.stanford.edu/c-karen-liu">Karen Liu</a> at 
        <a href="https://tml.stanford.edu/">The Movement Lab (TML)</a>. I am a member of the software team at
        <a href="https://www.stanfordrobosub.org/">Stanford Robosub</a> where I focus on AUV controls and 
        simulation testing.
        <br><br>
        Previously, I was a software engineer intern at
        <a href="https://www.gotrestle.com/">Trestle</a>, where I worked on search engine optimization 
        and backend development. 
        <br><br>
        This summer, I'll be joining a stealth robotics startup as an Member of Technical Staff Intern
    </p>

    <section>
        <h2 class="monospace">Research</h2>
        <p>
            I am broadly interested in robot learning. My goal is to create generalizable and 
            data-efficient robots that seamlessly interact with the physical world. I currently 
            work on robotic manipulation, motion planning, and control. More recently, I have taken
            interest in embodied foundation models.
        </p>
    </section>
</main>
{% endblock %}
