{% extends "base.html"%}

{% block content %}
<h1>Ali Ahmad</h1>
<div class="email">aliahmad &lsqb;at&rsqb; stanford &lsqb;dot&rsqb; edu</div>

<div class="links">
    { <a href="https://github.com/aliuahma">github</a> / 
    <a href="https://www.linkedin.com/in/aliuahma/">linkedin</a> / 
    <a href="https://x.com/aliuahma">x</a> }
</div>

<div>
    studying <a href="/education">a lot of stuff</a> at <a href="https://stanford.edu">stanford</a>.<br>
    always working on <a href="/projects">something</a> new.<br>
</div>

<h2>experience</h2>
<div>
    <a href="https://ai.stanford.edu">stanford ai lab</a>: student researcher - present
    <br>
    <a href="https://www.gotrestle.com/"> trestle</a>: software engineer intern - summer 2024
</div>

<div class="footer">
    last updated: 07 Jan 2025 | 🚀
</div>
{% endblock %}